<div class="container">
    <div class="row">
        <!-- Article main content -->
        <article class="col-sm-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">My Share
                    <a class="btn btn-primary pull-right" href="#/iwanttoshare">I want to Share</a>
                </h1>
                <p>Here is a place...</p>
            </header>
            {{mypulishedmessage}}
            <div ng-repeat="speech in mySpeechesList | orderBy:'-createdOn'">
                <h3 ng-if="speech.fixed"><a href="#/share/{{speech.id}}">{{speech.subject}}</a></h3>
                <h3 ng-if="!speech.fixed">{{speech.subject}}</h3>
                <p>{{speech.description}}</p>
                <div class="share-time">{{speech.createdOn | date:'yyyy-MM-dd  HH:mm'}} comes from <strong>{{speech.speakerName}}</strong>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-9 btn-group btn-group-xs speech-bar" role="group" aria-label="...">
                        <button type="button" class="btn btn-link" ng-click="openComment(speech.id)"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>{{' '+speech.comments.length}}</button>
                        <a class="btn btn-link" href="#/mypublished/update/{{speech.id}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <button type="button" class="btn btn-link interests" aria-label="heart" ng-click="swapInterest(speech.id)">
                            <span id="{{speech.id}}" ng-class="{false : 'glyphicon glyphicon-heart-empty', true:'glyphicon glyphicon-heart'}[{{'interest'+speech.id}}]" aria-hidden="true"></span>
                            {{speech.interests.length}}
                        </button>
                        <div class="interests-overlay" ng-if="speech.interests.length>0">
                            <span ng-repeat="interest in speech.interests  | orderBy:'-createdOn'">
                                <span ng-if="!$last">{{interest.userName + ',' }}</span>
                                <span ng-if="$last">{{interest.userName}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="comment" id="{{'comments'+ speech.id}}" ng-show="isOpenComment(speech.id)">
                    <form role="form" name="commentForm" novalidate>
                        <textarea placeholder="I'd like to say..." ng-model="comment"  class="form-control comment-textarea" name="comment" rows="2" required></textarea>
                        <div class="col-sm-1 col-sm-offset-11">
                            <button class="btn btn-warning btn-xs" type="submit" ng-click="submitComment(comment,speech.id)" ng-disabled="commentForm.$invalid">Comment</button>
                        </div>
                    </form>
                    <div ng-repeat="comment in speech.comments  | orderBy:'-createdOn'">
                        <p class="comment-font"><strong>{{comment.userName}} :</strong> {{comment.comment}}
                            <br>
                            <span class="comment-time-font">
                                {{comment.createdOn | date:'yyyy-MM-dd  HH:mm'}}
                            </span>
                            <button type="button" ng-click="deleteComment(comment.id)" class="btn btn-link btn-xs pull-right" aria-label="remove" ng-if="comment.userID==currentUser" >
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </p>
                        <div class="speech-line"></div>
                    </div>
                </div>
                <div class="speech-line"></div>
            </div>
        </article>
    </div>
</div>