<!-- container -->
<div class="container">
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-8 maincontent">
            <header class="page-header">
                <h1 class="page-title">Share Overview
                    <a class="btn btn-primary pull-right" href="#/iwanttoshare">I want to Share</a>
                </h1>

                <p>Here is a place...</p>
            </header>
            <div ng-repeat="speech in speechesList">
                <h3>{{speech.subject}}</h3>
                <p>{{speech.description}}</p>

                <div class="share-time">{{speech.createdOn | date:'medium'}} comes from <strong>{{speech.speakerName}}</strong>
                    <div class="share-interest pull-right">
                        <button class="btn btn-default btn-xs" aria-label="heart" type="submit" ng-click="swapInterest(speech.id)">
                            <span id="{{speech.id}}" ng-class="{false : 'glyphicon glyphicon-heart-empty', true:'glyphicon glyphicon-heart'}[{{'interest'+speech.id}}]" aria-hidden="true"></span>
                        </button>
                        <span class="text-right">{{speech.interests.length}}</span>
                    </div>
                </div>
                <div class="comment">
                    <form role="form" name="commentForm" novalidate>
                        <textarea placeholder="I'd like to say..." ng-model="comment"  class="form-control comment-textarea" name="comment" rows="2" required></textarea>
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-warning btn-xs" type="submit" ng-click="submitComment(comment,speech.id)" ng-disabled="commentForm.$invalid">Comment</button>
                        </div>
                    </form>

                    <div ng-repeat="comment in speech.comments track by $index">
                        <p class="comment-font"><strong>{{comment.userName}} :</strong> {{comment.comment}}<br>
                            <span class="comment-time-font">
                                {{comment.createdOn | date:'medium'}}
                            </span>
                        </p>
                    </div>
                </div>
                <hr>
            </div>
        </article>
        <!-- /Article -->

        <!-- Sidebar -->
        <aside class="col-md-4 sidebar sidebar-right">

            <div class="row widget pull-right">
                <div class="col-xs-12">
                    <a  ng-click="logout()">Logout</a>
                </div>
            </div>

        </aside>
        <!-- /Sidebar -->

    </div>
</div>	<!-- /container -->

