<!-- container -->
<div class="container">
    <div class="row">

        <!-- Article main content -->
        <article class="col-md-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">未发起的分享
                    <a class="btn btn-primary pull-right" href="#/iwanttoshare">我想分享</a>
                </h1>
                <p>我为人人，人人为我</p>
            </header>
            {{unscheduledmessage}}
            <div ng-repeat="speech in unscheduledSpeechesList | orderBy:'-createdOn'">
                <h3>{{speech.subject}}</h3>
                <div ng-bind-html='speech.description'></div>
                <div class="share-time">{{speech.createdOn * 1000 | date:'yyyy-MM-dd  HH:mm'}} 来自 <strong>{{speech.speakerName}}</strong>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-9 btn-group btn-group-xs speech-bar" role="group" aria-label="...">
                        <a ng-if="speech.speakerID==currentUser" class="btn btn-link" href="#/mypublished/update/{{speech.id}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <button type="button" class="btn btn-link" ng-click="openTab('comment',speech.id)"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>{{' '+speech.comments.length}}</button>
                        <button type="button" class="btn btn-link interests" aria-label="heart" ng-click="swapInterest(speech.id,$event)">
                            <span id="{{speech.id}}" ng-class="{false : 'glyphicon glyphicon-heart-empty', true:'glyphicon glyphicon-heart'}[{{'interest'+speech.id}}]" aria-hidden="true"></span>
                            {{speech.interests.length}}
                        </button>
                        <div class="interests-overlay" ng-if="speech.interests.length>0">
                            <span ng-repeat="interest in speech.interests  | orderBy:'-createdOn'">
                                <span ng-if="!$last">{{interest.userName + ',' }}</span>
                                <span ng-if="$last">{{interest.userName}}</span>
                                <span id="{{'interestD'+interest.id}}" class="interestD" ng-if="interest.userID==currentUser"></span>
                            </span>
                        </div>
                        <button type="button" class="btn btn-link" ng-if="speech.fixed" ng-click="openTab('meetinginfo',speech.id)">
                            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-link" ng-if="speech.fixed" ng-click="openTab('feedback',speech.id)">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            {{speech.feedbacks.length}}
                        </button>
                        <button type="button" class="btn btn-link" ng-if="speech.speakerID==currentUser" ng-click="deleteSpeech(speech.id, $event)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                <div class="meetingInfo" ng-show="isOpenActiveTab('meetinginfo'+ speech.id)">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>分享人 : </strong>{{speech.speakerName}}<br>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <strong>分享时间 : </strong>{{speech.when * 1000 | date:'yyyy-MM-dd  HH:mm'}}  <br>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <strong>地点 : </strong>{{speech.where}}
                    <div class="speech-line"></div>
                </div>
                <div class="comment" id="{{'comments'+ speech.id}}" ng-show="isOpenActiveTab('comment'+speech.id)">
                    <form role="form" name="commentForm" novalidate>
                        <textarea placeholder="我想说..." ng-model="comment"  class="form-control comment-textarea" name="comment" rows="2" required></textarea>
                        <div class="col-sm-1 col-sm-offset-11">
                            <button class="btn btn-warning btn-xs" type="submit" ng-click="submitComment(comment,speech.id,$event)" ng-disabled="commentForm.$invalid">保存</button>
                        </div>
                    </form>
                    <div ng-repeat="comment in speech.comments  | orderBy:'-createdOn'">
                        <p class="comment-font"><strong>{{comment.userName}} :</strong> {{comment.comment}}
                            <br>
                            <span class="comment-time-font">
                                {{comment.createdOn*1000 | date:'yyyy-MM-dd  HH:mm'}}
                            </span>
                            <button type="button" ng-click="deleteComment(comment.id, $event)" class="btn btn-link btn-xs pull-right" aria-label="remove" ng-if="comment.userID==currentUser" >
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </p>
                        <div class="speech-line"></div>
                    </div>
                </div>
                <div class="feedback" id="{{'feedbacks'+ speech.id}}" ng-show="isOpenActiveTab('feedback'+speech.id)">
                    <form role="form" id="{{'feedback-form'+ speech.id}}" name="feedbackForm" ng-if="display(speech.id)" novalidate>
                        <textarea placeholder="我想说..." ng-model="feedbackComment"  class="form-control comment-textarea" name="comment" rows="2" ></textarea>
                        <div class="row star-bar">
                            <div id={{'feedback-comment'+speech.id}} class="col-sm-5 stars"> Do you like it? </div>
                            <div class="col-sm-1  col-sm-offset-6">
                                <button class="btn btn-warning btn-xs" type="submit" ng-click="submitFeedback(feedbackComment,speech.id,$event)">保存</button>
                            </div>
                        </div>
                    </form>

                    <div ng-repeat="feedback in speech.feedbacks  | orderBy:'-createdOn'">
                        <p class="feedback-font"><strong>{{feedback.userName}} : </strong><span id="{{'feedback-comment'+ feedback.id}}">{{feedback.comment}}</span></p>
                        <div id="{{'star'+ feedback.id}}"></div>
                        <div class="row">
                            <span class="col-md-5 comment-time-font">
                                {{feedback.createdOn* 1000 | date:'yyyy-MM-dd  HH:mm'}}
                            </span>
                            <div id="{{'feedback-submit' + feedback.id}}" class="col-md-2 col-md-offset-5 btn-group btn-group-xs" role="group"  ng-if="feedback.userID==currentUser">
                                <button type="button" ng-click="editFeedback(feedback.id)" class="btn btn-link"  >
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button type="button" ng-click="deleteFeedback(feedback.id,$event)" class="btn btn-link">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="speech-line"></div>
                    </div>
                </div>

                <div class="speech-line"></div>
            </div>
        </article>
        <!-- /Article -->

    </div>
</div>	<!-- /container -->
