<div class="container">
    <div class="row">
        <!-- Article main content -->
        <article class="col-sm-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Edit Speech
                    <a class="btn btn-primary pull-right" href="#/mypublished">Back</a>
                </h1>
            </header>
            <p>
                Here is a place.....
            </p>
            <br>
            <form name="updateForm" role="form" novalidate>
                <div class="row">
                    <div class="col-sm-10">
                        <label>subject<span class="text-danger">*</span></label>
                        <input  class="form-control" type="text"  name="subject"  ng-model="update.subject"  required focus>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-10">
                        <label>Description <span class="text-danger">*</span></label>
                        <div required text-angular ng-model="update.description"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-7">
                        <label>Location</label>
                        <input  class="form-control" type="text"  name="location"  ng-model="update.location">
                    </div>
                    <div class="col-sm-3">
                        <label>Time</label>
                        <input id="datetimepicker" ng-blur="checkMeetingTime(update.time)" class="form-control" type="text"  name="time"  ng-model="update.time" >
                        <small class="errorMessage text-danger">{{speechTime}}</small>
                    </div>
                </div>
                <br>
                <div  class="row">
                    <div class="col-sm-10">
                          <input  type="checkbox"  name="fixed"  ng-model="update.fixed">  <label> Fixed </label> (Would you like anyone know meeting is already?)
                          <small class="errorMessage text-danger" ng-show="update.fixed==true&&(update.location==null||update.location==''||update.time==null)">Location and time are required</small>

                    </div>
                  <br>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-4 text-right">
                        <button type="submit" class="btn btn-warning meeting-time" ng-click="updateSpeech(update,$event)" ng-disabled="updateForm.$invalid ||(update.fixed==true&&(update.location==null||update.time==null))">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </article>
    </div>
</div>