<div class="container">
    <div class="row">
        <article class="col-xs-12 maincontent">
            <header class="page-header">
               <!--- <h1 class="page-title">我们相信每个人都有自己的专长</h1> --->
                <img src="common/images/title.png">
            </header>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!--<h3 class="thin text-center">登录</h3>-->
                        <img src="common/images/title2.png">
                        <p class="text-center text-muted">还没有账号？ <a href="#/signup">立即注册</a></p>
                        <hr>
                        <form role="form" name="form1" novalidate>
                            <div class="top-margin">
                                <label>用户名 <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="请输入用户名" ng-model="user.username" name="name" required focus>
                                <small ng-show="form1.name.$invalid && !form1.name.$pristine" class="help-inline text-danger">请输入用户名</small>
                            </div>
                            <div class="top-margin">
                                <label>密码 <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" placeholder="请输入密码" ng-model="user.password" name="password" required>
                                <small ng-show="form1.password.$invalid && !form1.password.$pristine" class="help-inline text-danger">请输入密码</small>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-8">
                                    <span class="text-danger">{{loginError}}</span>
                                </div>
                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-warning" type="submit" ng-click="login(user,$event)" ng-disabled="form1.$invalid">立即登录</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>