<div class="container">
    <div class="row">
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Registration</h1>
            </header>
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Register a new account</h3>
                        <p class="text-center text-muted"> Already have an account? <a href="#/login">Sign In</a></p>
                        <hr>
                        <form name="signupForm" role="form" novalidate>
                            <div class="top-margin">
                                <label>Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter name" ng-model="signup.username" name="name" required focus>
                                <small ng-show="signupForm.name.$invalid && !signupForm.name.$pristine" class="help-inline text-danger">Your name is required.</small>
                            </div>
                            <div class="top-margin">
                                <label>Email Address <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" placeholder="Email" name="email" ng-model="signup.email" required/>
                                <small ng-show="signupForm.email.$error.email" class="help-inline text-danger">Email is not valid</small>
                            </div>

                            <div class="row top-margin">
                                <div class="col-sm-6">
                                    <label>Password <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="signup.password" required/>
                                </div>
                                <div class="col-sm-6">
                                    <label>Confirm Password <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="signup.password2" required/>
                                    <small class="errorMessage text-danger" ng-show="signupForm.password.$dirty&&signupForm.password2.$dirty&&signup.password!==signup.password2"> Password do not match.</small>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-8">
                                    <span class="text-danger">{{signupFailtext}}</span>
                                </div>
                                <div class="col-lg-4 text-right">
                                    <button type="submit" class="btn btn-warning" ng-click="signUp(signup,$event)" ng-disabled="signupForm.$invalid">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
